
* {
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1522140243784-a1df85e3c0f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
    background-repeat: no-repeat;
    justify-content: space-evenly;
    align-content: center;
}

header {
    background-color: bisque;
}

.Header-Title {
    margin-left: 20px;
    margin-top: 50px;
    text-align: justify;
    font-size: 40px;

}


.Login-section {
   display: flex;
   align-items: flex-end;
}

nav {
    display: flex;
  height: 55px;
  width: 550px;
  justify-content: space-between;
  font-size: 20px;
} 
/* 
nav {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 15px;
    margin-right: 5px;
} */


button {
    color: black;
}

.Header{
    width: 100vw;
    height: 300px
}

div {
    display: flex;
    align-items:center;    
}


